<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.loveforhealth">

    <application
        android:allowBackup="true"
        android:icon="@drawable/myic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewDrinkingWater"
            android:label="View Drinking Data"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Feedback"
            android:label="Give Feedback"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ViewWorkouts"
            android:label="View My Workouts"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WorkoutEditor"
            android:label="Add New Workout"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>